.maps-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.maps-iframe {
  width: 600px;
  height: 597px;
}





@media(max-width: 479px) {
  .maps-iframe {
    width: 450px;
    height: 876px;
  }
}

.card-card {
  position: relative;
}
.card-header {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.card-icon {
  height: 50px;
  object-fit: cover;
}
.card-heading {
  color: rgb(18, 40, 33);
  font-size: 24px;
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
}
.card-text {
  color: rgb(18, 40, 33);
  max-width: 600px;
  font-family: Lato;
  line-height: 24px;
}

.branding-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.branding-text {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.branding-icon {
  width: 7px;
  height: 7px;
}
.branding-text1 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
@media(max-width: 991px) {
  .branding-icon {
    display: none;
  }
  .branding-text1 {
    display: none;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  font-family: Lato;
  line-height: 27px;
}
.footer-contact-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image {
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.footer-text01 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer-contact1 {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image1 {
  width: 18px;
  height: 24px;
  object-fit: cover;
  margin-left: 3px;
  margin-right: 3px;
}
.footer-text02 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Lato;
  line-height: 21px;
}
.footer-links {
  gap: 110px;
  display: flex;
  align-items: flex-start;
  padding-right: 135px;
  flex-direction: row;
}
.footer-column {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text03 {
  text-decoration: none;
}
.footer-text04 {
  text-decoration: none;
}
.footer-text05 {
  text-decoration: none;
}
.footer-text06 {
  text-decoration: none;
}
.footer-text07 {
  text-decoration: none;
}
.footer-text08 {
  text-decoration: none;
}
.footer-column1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text09 {
  text-decoration: none;
}
.footer-text10 {
  text-decoration: none;
}
.footer-text11 {
  text-decoration: none;
}
.footer-text12 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-header {
    gap: var(--dl-space-space-unit);
  }
  .footer-copyright {
    display: none;
  }
  .footer-links {
    gap: var(--dl-space-space-threeunits);
    padding-right: 0px;
    flex-direction: column;
  }
}

.ecommerce-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ecommerce-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.ecommerce-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1324px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.ecommerce-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ecommerce-text {
  color: rgb(18, 40, 33);
  font-size: 24px;
  line-height: 36px;
}
.ecommerce-icon {
  width: 7px;
  height: 7px;
}
.ecommerce-desktop-menu {
  display: flex;
}
.ecommerce-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ecommerce-button {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.ecommerce-button01 {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.ecommerce-button02 {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(18, 40, 33, 1);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
  border-left-width: 1px;
}
.ecommerce-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ecommerce-hamburger {
  width: 100px;
  object-fit: cover;
}
.ecommerce-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #fff;
}
.ecommerce-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.ecommerce-branding1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ecommerce-text03 {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.ecommerce-icon02 {
  width: 7px;
  height: 7px;
}
.ecommerce-text04 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
.ecommerce-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ecommerce-icon04 {
  width: 34px;
  height: 34px;
}
.ecommerce-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-button03 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.ecommerce-button04 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.ecommerce-button05 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.ecommerce-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: auto;
  justify-content: flex-start;
}
.ecommerce-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.ecommerce-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.ecommerce-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.ecommerce-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.ecommerce-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.ecommerce-hero {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.ecommerce-content {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.ecommerce-link {
  display: contents;
}
.ecommerce-title {
  color: rgb(18, 40, 33);
  width: 598px;
  z-index: 100;
  font-size: 72px;
  max-width: 600px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  font-weight: 500;
  line-height: 92px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.ecommerce-description {
  color: rgb(18, 40, 33);
  font-size: 24px;
  max-width: 600px;
  font-family: Lato;
  line-height: 36px;
}
.ecommerce-image {
  left: 0px;
  width: 240px;
  bottom: -410px;
  height: 330px;
  position: absolute;
  object-fit: cover;
}
.ecommerce-mission {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 290px;
  flex-direction: column;
  padding-bottom: 120px;
}
.ecommerce-text07 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
  line-height: 51px;
}
.ecommerce-link1 {
  text-decoration: none;
}
.ecommerce-text11 {
  line-height: 21px;
}
.ecommerce-improve {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-text12 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 51px;
}
.ecommerce-text13 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-tabs {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-switches {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.ecommerce-content1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ecommerce-details {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text14 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-description1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text15 {
  color: rgb(18, 40, 33);
  font-size: 16px;
  line-height: 24px;
}
.ecommerce-text16 {
  color: rgb(18, 40, 33);
  font-size: 16px;
  line-height: 24px;
}
.ecommerce-link2 {
  text-decoration: none;
}
.ecommerce-text17 {
  line-height: 21px;
}
.ecommerce-image01 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.ecommerce-image02 {
  flex: 1;
  height: 640px;
  object-fit: cover;
}
.ecommerce-services {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-text20 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-cards {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.ecommerce-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
}
.ecommerce-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.ecommerce-testimonials {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #122821;
}
.ecommerce-content2 {
  gap: 56px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-image03 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.ecommerce-quote1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-author {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-name {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.ecommerce-origin {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.ecommerce-image04 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.ecommerce-quote3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-author1 {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-name1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.ecommerce-origin1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.ecommerce-image05 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.ecommerce-quote5 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-author2 {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-name2 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.ecommerce-origin2 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.ecommerce-image06 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.ecommerce-quote7 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-author3 {
  gap: 4px;
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-name3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: 120px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-top-width: 1px;
}
.ecommerce-origin3 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  max-width: 120px;
  text-align: center;
  font-family: Lato;
  line-height: 27px;
}
.ecommerce-controls {
  gap: var(--dl-space-space-oneandhalfunits);
  right: 0px;
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.ecommerce-previous {
  width: 64px;
  cursor: pointer;
  height: 64px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(230, 249, 224, 0.5);
}
.ecommerce-previous:hover {
  background-color: #e6f9e0;
}
.ecommerce-image07 {
  width: 100px;
  transform: rotate(180deg);
  object-fit: cover;
}
.ecommerce-next {
  width: 64px;
  cursor: pointer;
  height: 64px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: flex-end;
  background-color: #E6F9E0;
}
.ecommerce-next:hover {
  background-color: rgba(230, 249, 224, 0.5);
}
.ecommerce-image08 {
  width: 100px;
  object-fit: cover;
}
.ecommerce-partners {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 130px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 130px;
  border-bottom-width: 1px;
}
.ecommerce-content3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text35 {
  color: rgb(18, 40, 33);
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-text36 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  max-width: 300px;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-partners-desktop {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.ecommerce-column {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-column01 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-column02 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-column03 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-partners-mobile {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
}
.ecommerce-row2 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-column04 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-column05 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-column06 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-services1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 120px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 130px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text37 {
  color: rgb(18, 40, 33);
  font-size: 56px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-text38 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  max-width: 800px;
  font-family: Lato;
}
.ecommerce-sections {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.ecommerce-row3 {
  gap: 140px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.ecommerce-section {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-header1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text39 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-description2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text40 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-text41 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-section1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text45 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-description3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text46 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-text47 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-row4 {
  gap: 140px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.ecommerce-section2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-header3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text51 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-description4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text52 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-text53 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-section3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-header4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text57 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-description5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text58 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-text59 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: Lato;
  line-height: 24px;
}
.ecommerce-banner {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.ecommerce-container2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #122821;
}
.ecommerce-header5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-title1 {
  color: rgb(230, 249, 224);
  width: 100%;
  font-size: 36px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 46px;
}
.ecommerce-description6 {
  color: rgb(230, 249, 224);
  width: 100%;
  font-size: 20px;
  max-width: 550px;
  text-align: center;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-mission1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 120px;
  align-items: flex-end;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-content4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text66 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.ecommerce-description7 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-text67 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  max-width: 800px;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-text68 {
  color: rgb(18, 40, 33);
  font-size: 20px;
  max-width: 800px;
  font-family: Lato;
  line-height: 30px;
}
.ecommerce-galleries {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-gallery-desktop {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.ecommerce-column07 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-image40 {
  height: 700px;
  object-fit: cover;
}
.ecommerce-column08 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-row5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.ecommerce-yellow {
  flex: 1;
  height: 330px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #FAE48E;
}
.ecommerce-image41 {
  height: 330px;
  object-fit: cover;
}
.ecommerce-row6 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.ecommerce-image42 {
  width: 435px;
  object-fit: cover;
}
.ecommerce-image43 {
  height: 400px;
  object-fit: cover;
}
.ecommerce-gallery-mobile {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: none;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.ecommerce-column09 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-image44 {
  height: 700px;
  object-fit: cover;
}
.ecommerce-image45 {
  width: 435px;
  object-fit: cover;
}
.ecommerce-column10 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ecommerce-yellow1 {
  flex: 1;
  height: 330px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #FAE48E;
}
.ecommerce-image46 {
  height: 330px;
  object-fit: cover;
}
.ecommerce-row7 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.ecommerce-image47 {
  height: 400px;
  object-fit: cover;
}
.ecommerce-mission2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-end;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.ecommerce-content5 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.ecommerce-newsletter {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.ecommerce-header6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-text69 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.ecommerce-text70 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.ecommerce-content6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-email {
  width: 400px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 60px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: center;
  background-color: #F3F3F3;
}
.ecommerce-textinput {
  flex: 1;
  color: #122821;
  outline: inherit;
  font-family: Lato;
  font-weight: 600;
  background-color: transparent;
}
.ecommerce-submit {
  width: 56px;
  cursor: pointer;
  height: 56px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #122821;
}
.ecommerce-submit:hover {
  background-color: #408770;
}
.ecommerce-image48 {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(88%) sepia(8%) saturate(484%) hue-rotate(62deg) brightness(111%) contrast(95%);
  transform: rotate(-45deg);
  object-fit: cover;
}
.ecommerce-notice {
  width: 100%;
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  padding-left: 27px;
  flex-direction: column;
  justify-content: center;
}
.ecommerce-notice1 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 12px;
  max-width: 305px;
  font-family: Lato;
  line-height: 15px;
}
@media(max-width: 991px) {
  .ecommerce-navbar-interactive {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-icon {
    display: none;
  }
  .ecommerce-icon02 {
    display: none;
  }
  .ecommerce-text04 {
    display: none;
  }
  .ecommerce-hero {
    gap: var(--dl-space-space-threeunits);
    height: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .ecommerce-image {
    display: none;
  }
  .ecommerce-mission {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .ecommerce-text07 {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .ecommerce-text09 {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .ecommerce-text10 {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .ecommerce-link1 {
    width: 100%;
    text-align: center;
  }
  .ecommerce-text11 {
    font-family: Lato;
  }
  .ecommerce-improve {
    gap: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-content1 {
    flex-direction: column;
  }
  .ecommerce-image01 {
    width: 100%;
  }
  .ecommerce-image02 {
    height: auto;
  }
  .ecommerce-services {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .ecommerce-text20 {
    max-width: 500px;
    text-align: center;
  }
  .ecommerce-cards {
    flex-direction: column;
  }
  .ecommerce-testimonials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-controls {
    position: static;
  }
  .ecommerce-partners {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: 60px;
  }
  .ecommerce-content3 {
    align-items: center;
    justify-content: center;
  }
  .ecommerce-text35 {
    text-align: center;
  }
  .ecommerce-text36 {
    text-align: center;
  }
  .ecommerce-partners-desktop {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .ecommerce-column {
    flex-direction: row;
  }
  .ecommerce-column01 {
    flex-direction: row;
  }
  .ecommerce-column02 {
    flex-direction: row;
  }
  .ecommerce-column03 {
    flex-direction: row;
  }
  .ecommerce-partners-mobile {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .ecommerce-row2 {
    gap: 10px;
    flex-direction: row;
  }
  .ecommerce-column04 {
    gap: 10px;
    flex-direction: row;
  }
  .ecommerce-column05 {
    gap: 10px;
    flex-direction: row;
  }
  .ecommerce-column06 {
    gap: 10px;
    flex-direction: row;
  }
  .ecommerce-services1 {
    margin-top: var(--dl-space-space-fourunits);
    padding-left: 20px;
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: 20px;
  }
  .ecommerce-row3 {
    gap: var(--dl-space-space-fourunits);
  }
  .ecommerce-row4 {
    gap: var(--dl-space-space-fourunits);
  }
  .ecommerce-banner {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-mission1 {
    margin-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-text66 {
    font-size: 30px;
  }
  .ecommerce-gallery-desktop {
    display: none;
  }
  .ecommerce-gallery-mobile {
    gap: var(--dl-space-space-halfunit);
    display: flex;
  }
  .ecommerce-column09 {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-end;
  }
  .ecommerce-image44 {
    width: 280px;
    height: 400px;
  }
  .ecommerce-image45 {
    width: 240px;
  }
  .ecommerce-column10 {
    align-items: flex-start;
  }
  .ecommerce-yellow1 {
    flex: 0 0 auto;
    width: 220px;
    height: 300px;
  }
  .ecommerce-image46 {
    width: 260px;
    height: 170px;
  }
  .ecommerce-image47 {
    width: 220px;
    height: 290px;
  }
  .ecommerce-mission2 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .ecommerce-content5 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-newsletter {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .ecommerce-text69 {
    font-size: 32px;
  }
  .ecommerce-text70 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-notice1 {
    font-size: 10px;
    line-height: 13px;
  }
}
@media(max-width: 767px) {
  .ecommerce-desktop-menu {
    display: none;
  }
  .ecommerce-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    aspect-ratio: 1;
    border-radius: var(--dl-radius-radius-round);
    justify-content: center;
    background-color: #E6F9E0;
  }
  .ecommerce-hamburger {
    width: 16px;
    height: 8px;
  }
  .ecommerce-button03 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .ecommerce-button04 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .ecommerce-button05 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .ecommerce-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ecommerce-title {
    font-size: 36px;
    line-height: 46px;
  }
  .ecommerce-description {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-mission {
    align-items: center;
  }
  .ecommerce-text12 {
    font-size: 32px;
    line-height: 41px;
  }
  .ecommerce-text13 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-tabs {
    gap: var(--dl-space-space-threeunits);
  }
  .ecommerce-switches {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .ecommerce-content1 {
    margin-top: 0px;
  }
  .ecommerce-details {
    gap: var(--dl-space-space-threeunits);
  }
  .ecommerce-content3 {
    align-items: center;
  }
  .ecommerce-text36 {
    max-width: 100%;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .ecommerce-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .ecommerce-row {
    flex-direction: column;
  }
  .ecommerce-row1 {
    flex-direction: column;
  }
  .ecommerce-container1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .ecommerce-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-image03 {
    width: 60px;
    height: 60px;
  }
  .ecommerce-quote1 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-author {
    gap: var(--dl-space-space-halfunit);
  }
  .ecommerce-name {
    width: 120px;
    font-size: 16px;
  }
  .ecommerce-origin {
    font-size: 14px;
    line-height: 21px;
  }
  .ecommerce-image04 {
    width: 60px;
    height: 60px;
  }
  .ecommerce-quote3 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-text21 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-author1 {
    gap: var(--dl-space-space-halfunit);
  }
  .ecommerce-name1 {
    width: 120px;
    font-size: 16px;
  }
  .ecommerce-origin1 {
    font-size: 14px;
    line-height: 21px;
  }
  .ecommerce-image05 {
    width: 60px;
    height: 60px;
  }
  .ecommerce-quote5 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-text25 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-author2 {
    gap: var(--dl-space-space-halfunit);
  }
  .ecommerce-name2 {
    width: 120px;
    font-size: 16px;
  }
  .ecommerce-origin2 {
    font-size: 14px;
    line-height: 21px;
  }
  .ecommerce-image06 {
    width: 60px;
    height: 60px;
  }
  .ecommerce-quote7 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-text31 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-author3 {
    gap: var(--dl-space-space-halfunit);
  }
  .ecommerce-name3 {
    width: 120px;
    font-size: 16px;
  }
  .ecommerce-origin3 {
    font-size: 14px;
    line-height: 21px;
  }
  .ecommerce-previous {
    width: 40px;
    height: 40px;
    padding: 0px;
    justify-content: center;
  }
  .ecommerce-image07 {
    width: 11px;
  }
  .ecommerce-next {
    width: 40px;
    height: 40px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .ecommerce-image08 {
    width: 11px;
  }
  .ecommerce-partners {
    margin-top: var(--dl-space-space-fourunits);
  }
  .ecommerce-services1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-text37 {
    font-size: 32px;
  }
  .ecommerce-text38 {
    color: rgb(18, 40, 33);
    font-size: 16px;
    font-family: Lato;
    line-height: 24px;
  }
  .ecommerce-sections {
    gap: var(--dl-space-space-threeunits);
  }
  .ecommerce-row3 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .ecommerce-section {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-text39 {
    font-size: 24px;
  }
  .ecommerce-section1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-text45 {
    font-size: 24px;
  }
  .ecommerce-row4 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .ecommerce-section2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-text51 {
    font-size: 24px;
  }
  .ecommerce-section3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .ecommerce-text57 {
    font-size: 24px;
  }
  .ecommerce-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .ecommerce-title1 {
    font-size: 32px;
    line-height: 41px;
  }
  .ecommerce-description6 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-text66 {
    font-size: 18px;
    line-height: 24px;
  }
  .ecommerce-text67 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-text68 {
    font-size: 16px;
    line-height: 24px;
  }
  .ecommerce-image44 {
    width: 140px;
    height: 200px;
  }
  .ecommerce-image45 {
    width: 120px;
  }
  .ecommerce-yellow1 {
    width: 110px;
    height: 150px;
  }
  .ecommerce-image46 {
    width: 130px;
    height: 85px;
  }
  .ecommerce-image47 {
    width: 110px;
    height: 145px;
  }
  .ecommerce-email {
    width: 100%;
  }
}
